@import  '../../assets/varibles.scss';

.bar{
    height: $settingbar-height;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0px 4px 5px gray;
    top: $settingbar-height;
}

.set-input {
    margin: 0 10px;
}